doctype html
html
	head
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel="stylesheet", href="/css/style.css")
		title=className
	body
		div.container
			div.row
				div.dropdown
					h2
						button.btn.btn-primary.btn-lg.dropdown-toggle(type="button" id="classDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")=className 
							scan.caret
						ul.dropdown-menu(aria-labelledby="classDropdown")
							for c in classes
								li
									a(href='/'+ c)=c		
			-let id=0
			div.row
				for day in currentClass
					div.well(onclick="$('#lessons_" + day.name + "').collapse('toggle')")
						h2.day=day.name
							scan.glyphicon.glyphicon-triangle-bottom.pull-right
						div.collapse(id='lessons_'+day.name)
							ol.lessons
								for lesson in day.lessons
									li=lesson
								p.smile=faces[id]
								-id+=1

		script(src="https://code.jquery.com/jquery-3.3.1.min.js") 

		script(src="/js/bootstrap.js")
					

  			
		
